[submodule "Libs/volk"]
	path = Libs/volk
	url = git@github.com:zeux/volk.git
[submodule "Libs/entt"]
	path = Libs/entt
	url = https://github.com/skypjack/entt.git
	ignore = dirty
[submodule "Libs/D3D12MemoryAllocator"]
	path = Libs/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "Libs/DirectX-Headers"]
	path = Libs/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "Libs/pugixml"]
	path = Libs/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "Libs/imgui"]
	path = Libs/imgui
	url = https://github.com/ocornut/imgui.git
